@import "../common/colors.css";

[data-type="coliquio/cta"] {
  clear: both;
}
.wp-block-coliquio-cta {
  background-color: var(--green-base);
  border: 1px solid var(--green-base);
  border-radius: 4px;
  color: var(--white-base);
  cursor: pointer;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
  outline: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  &[contenteditable] {
    cursor: text;
  }

  &:active,
  &:hover {
    background-color: var(--green-darken-10);
    border: 1px solid var(--black-lighten-20);
    color: var(--white-base);
    text-decoration: none;
  }

  &--link {
    background: none;
    border: 1px solid var(--black-lighten-20);
    color: var(--black-lighten-20);

    &:active,
    &:hover {
      background: var(--black-lighten-70);
      color: var(--black-lighten-20);
    }
  }
}

// styles for sidebar custom radio buttons
.components-panel__body .components-base-control__field {
  .components-radio-control__option {
    display: flex;
  }
  .components-radio-control__input {
    padding: 0;
  }
}
