@import "../common/colors.css";

.wp-block-coliquio-image {
  margin: 15px 0;

  &.align-left {
    float: left;
    margin-right: 15px;
  }
  &.align-right {
    margin-left: 15px;
    float: right;
  }
  &.align-center {
    text-align: center;
  }

  img {
    max-width: 400px;
    float: none;
    width: 100%;
  }

  figcaption {
    padding: 5px 0 0 0;
    margin: 0;
    line-height: 1.4rem;
    color: var(--black-base);
  }

  .copyright {
    display: block;
    font-size: 0.8rem;
    color: var(--black-lighten-50);
  }
}

.wp-block-image {
  &.coliquio-size-x-small {
    border: 1px solid red;
    width: 16%!important;
  }
  &.coliquio-size-small{
    width: 25%!important;
  }
  &.coliquio-size-medium {
    width: 33%!important;
  }
  &.coliquio-size-large {
    width: 50%!important;
  }
  &.coliquio-size-x-large {
    width: 100%!important;
  }
  .components-resizable-box__container {
    width: 100%!important;
    img {
      float: none;
      width: 100%!important;
    }
    .components-resizable-box__handle {
      display: none;
    }
  }
}

.components-panel__body {
  >.components-base-control:nth-child(2) {
    display: none;
  }
}
.block-editor-image-size-control {
  display: none;
}

.block-editor-block-inspector {
  >div:nth-child(2) {
    display: none;
  }
}
