@import "../common/colors.css";

.header-valid {
  font-weight: bold;
  color: var(--green-base);
}

.header-invalid-too-long-1 {
  font-weight: bold;
  color: var(--orange-darken-10);
}

.header-invalid-too-long-2 {
  font-weight: bold;
  color: var(--red-base);
}

.wp-block-coliquio-header {
  &[contenteditable] {
    cursor: text;
  }

  display: block;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  padding: .5rem 1rem;
  outline: 0;
  margin-bottom: .25rem;
  text-decoration: none;

  &.warning-too-long-1 {
    color: var(--orange-darken-10);
  }

  &.warning-too-long-2 {
    color: var(--red-base);
  }

  .kicker {
    font-weight: 400;
    font-size: 1.125rem;
    margin-bottom: .25rem;
  }

  .headline {
    font-weight: 600;
    font-size: 1.25rem;
  }
}
