@import "../common/colors.css";
@import "../common/transitions";
@import '../common/icons';

.wp-block-coliquio-image-gallery {

  .images-icon {
    @include images();
    width: 18px;
    height: 18px;
    margin-top: 2px;
    transform: scale(1.2);
  }

  .btn {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
    @include transition(opacity);

    &:active,
    &:hover {
      opacity: 0.7;
    }
  }

  .btn-open-gallery {
    margin: 15px 0;
    width: 100%;
    height: 210px;
    padding: 15px;
    max-width: 400px;
    background-repeat: no-repeat;
    background-size: cover;

    .txt-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      height: 100%;
      color: var(--white-base);
      pointer-events: none;


      .left {
        text-align: left;
        max-width: 145px;

        .heading {
          font-size: 12px;
        }

        .gallery-title {
          display: block;
          margin: 4px 10px 0 0;
          font-size: 16px;
          font-weight: 600;
        }
      }

      .amount {
        display: flex;
        flex-direction: row;
        padding: 4px 12px;
        background-color: var(--blue-accent);
        border-radius: 17px;
        font-size: 15px;
        font-weight: 600;
      }
    }

    img {
      max-width: 100px;
    }
  }

  .center {
    display: flex;
    justify-content: center;
  }

  .btn-close-gallery {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: var(--blue-accent);

    &.bottom {
      margin-bottom: 80px;
      padding: 5px 15px;
      justify-content: center;
      flex-direction: column;
      text-transform: uppercase;
      background-color: var(--black-lighten-75);
      color: var(--blue-accent);
      border-radius: 16px;
    }
  }

  .image-gallery-overlay {
    background-color: var(--white-base);
    display: none; /* toggled via JS */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    .header {
      .arrow-icon {
        @include arrow();
        fill: #007AFF; /* vars not working here */
        transform: rotate(-90deg) scale(1.6);
        margin: 0 2px 0 -8px;
        height: 22px;
        width: 22px;
      }

      background-color: rgba(255, 255, 255, 0.65);
      -webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px);
      border-bottom: 1px solid var(--black-lighten-60);
      padding-left: 15px;
      display: flex;
      height: 45px;
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;
    }

    section {
      padding: 50px 15px 0;
    }

    .amount {
      color: var(--black-lighten-40);
      margin: 25px 0 5px 0;
      font-size: 0.8rem;
    }

    h2 {
      color: var(--black-base);
      font-size: 1.6rem;
      font-weight: 600;
    }

    figure {
      margin: 0;
      padding: 0 0 50px 0;

      img {
        width: 100%;
        height: auto;
        max-width: 400px !important;
        float: none;
      }

      figcaption {
        margin: 0;
        padding-top: 5px;

        .count {
          color: var(--black-base);
          font-weight: 600;
          font-size: 1rem;
          display: block;
        }

        .desc {
          color: var(--black-base);
          margin: 0;
          font-size: 1rem;

          a {
            color: var(--black-base);
          }
        }

        .copyright {
          color: var(--black-lighten-10);
          font-size: 1rem;
          margin: 0;
        }
      }
    }
  }

  .image-gallery-edit-container {
    background-color: var(--black-base);
    color: var(--black-lighten-70);
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;
    padding: 5px;

    figure {
      margin: 10px;

      img {
        max-width: 90px;
      }
    }

    figcaption {
      max-width: 90px;
      font-size: 0.8rem;
      color: var(--white-base);
    }
  }
}
