@import "../common/colors.css";
@import "../common/transitions";

.wp-block-coliquio-image-gallery {
  .btn {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
    @include transition(opacity);

    &:active,
    &:hover {
      opacity: 0.7;
    }
  }

  .btn-open-gallery {
    margin: 15px 0;
    width: 100%;
    height: 210px;
    padding: 15px;
    max-width: 400px;
    background-repeat: no-repeat;
    background-size: cover;

    .txt-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      height: 100%;
      color: var(--white-base);
      pointer-events: none;


      .left {
        text-align: left;

        .heading {
          font-size: 0.8rem;
        }

        .gallery-title {
          display: block;
          margin: 4px 10px 0 0;
          font-size: 1.1rem;
          font-weight: 600;
        }
      }

      .amount {
        background-color: var(--blue-base);
        font-size: 0.8rem;
        font-weight: 600;
        padding: 9px;
        border-radius: 4px;
      }
    }

    img {
      max-width: 100px;
    }
  }

  .btn-close-gallery {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color: var(--white-base);

    &.bottom {
      width: 100%;
      padding-bottom: 60px;
      justify-content: center;
      flex-direction: column;

      .close-icon {
        font-size: 1.1rem;
        display: block;
      }
    }
  }

  .image-gallery-overlay {
    background-color: var(--black-base);
    display: none; /* toggled via JS */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    .header {
      .arrow-icon {
        fill: white; /* vars not working here */
        transform: rotate(-90deg);
        margin: 3px 10px 0 -6px;
        height: 20px;
        width: 20px;
      }

      background-color: var(--black-lighten-30);
      padding-left: 15px;
      display: flex;
      height: 45px;
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;
    }

    section {
      padding: 50px 15px 0;
    }

    .amount {
      color: var(--black-lighten-40);
      margin: 25px 0 5px 0;
      font-size: 0.8rem;
    }

    h2 {
      color: var(--white-base);
      font-size: 1.4rem;
      font-weight: 600;
      margin: 0 0 45px;
    }

    figure {
      margin: 0;
      padding: 0 0 50px 0;

      img {
        width: 100%;
        height: auto;
        max-width: 400px !important;
        float: none;
      }

      figcaption {
        margin: 0;

        .count {
          color: var(--black-lighten-40);
          font-size: 1rem;
          margin: 5px 0;
          display: block;
        }

        .desc {
          color: var(--white-base);
          margin: 0;
          font-size: 0.8rem;

          a {
            color: var(--white-base);
          }
        }

        .copyright {
          color: var(--black-lighten-30);
          font-size: 0.7rem;
          margin: 0;
        }
      }
    }
  }

  .image-gallery-edit-container {
    background-color: var(--black-base);
    color: var(--black-lighten-70);
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;
    padding: 5px;

    figure {
      margin: 10px;

      img {
        max-width: 90px;
      }
    }

    figcaption {
      max-width: 90px;
      font-size: 0.8rem;
      color: var(--white-base);
    }
  }
}
