.wp-block-coliquio-checklist {
  margin: 15px 0;
  &[contenteditable] {
    cursor: text;
  }

  li {
    display: flex;
    list-style-type: none;
    margin: 0 0 0.5rem 2rem;
    position: relative;

    &::before {
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 56.7 56.7' enable-background='new 0 0 56.7 56.7' xml:space='preserve'%3E%3Cg%3E%3Cpolygon fill='%2365b32e' points='24.5,46.3 6.3,28.2 12.4,22.1 30,39.8 '/%3E%3Cpolygon fill='%2365b32e' points='19,39.8 44.5,11.2 50.8,16.9 24.5,46.4 '/%3E%3C/g%3E%3C/svg%3E%0A");
      content: "";
      height: 16px;
      left: -24px;
      position: absolute;
      top: 5px;
      width: 16px;
    }
  }
}
