.wp-block-coliquio-accordion {
    padding: 15px;
    .accordion-header {
        font-weight: 600;
        padding: 10px 15px;
    }
}

// editor styles
.accordion-component {
    border: 1px solid #ccc;
    .accordion-component-header {
        font-size: 26px;
    }
}
