@import "../common/colors.css";

.wp-block-coliquio-highlight {
  margin: 15px 0;

  .title {
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 6px 6px 0 0;
  }

  .content {
    padding: 1px 15px 5px 15px;
    border-radius: 0 0 6px 6px;
  }

  &.card--primary {

    .title {
      color: var(--black-base);
    }
    .content {
      background-color: var(--black-lighten-75);
      border-radius: 6px;
    }
  }

  &.card--secondary {

    .title {
      color: var(--white-base);
      background-color: var(--blue-base);
    }
    .content {
      background-color: var(--blue-lighten-50);
    }

  }
}
