@import "../common/colors.css";

.wp-block-coliquio-highlight {
  margin: 15px 0;

  .title {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1rem;
    border-radius: 6px 6px 0 0;
  }

  .content {
    padding: 0.5rem 1rem 1rem 1rem;
    border-radius: 0 0 6px 6px;

    ul {
      padding-left: 2rem;
    }
  }

  &.grey-box {

    .title {
      color: var(--black-base);
      line-height: 2rem;
    }
    .content {
      background-color: var(--black-lighten-75);
      border-radius: 6px;
    }
  }

  &.blue-border {

    .title {
      color: var(--white-base);
      background-color: var(--blue-base);
    }
    .content {
      background-color: var(--blue-lighten-50);
    }

  }
}
