@import "../common/colors.css";
@import '../common/mediaq.scss';

.wp-block-coliquio-accordion-item {
  &[open] .accordion-item {
    &-summary {
      .arrow-icon {
        transform: rotate(0);
      }
    }
  }

  border-radius: 6px;
  background-color: var(--black-lighten-75);
  margin-bottom: 15px;

  .accordion-item {
    &-summary {
      line-height: 1.75rem;
      cursor: pointer;
      font-weight: 600;
      color: var(--blue-accent);
      user-select: none;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 40px;

      &::-webkit-details-marker {
        display: none;
      }

      .arrow-icon {
        transform: rotate(180deg);
        transition: transform 300ms ease-in-out;
        transform-origin: 13px;
        fill: #007AFF;
        width: 26px;
        height: 26px;
        margin-right: 10px;
      }

      .summary-content {
        margin: 10px 15px;
      }

      sup {
        line-height: 0;
      }
    }

    &-content {
      padding: 0 15px 15px 0;
      margin: -15px 0 0 15px;
      color: var(--black-base);
      line-height: 1.2rem;
      font-weight: 400;
    }
  }

  .wp-block-coliquio-image {
    figcaption {
      color: var(--black-lighten-40);
      display: block;
      font-weight: 400;
      line-height: 1.3rem;
    }
  }

  p {
    margin: 15px 0;

    &:last-child {
      margin: 0;
    }
  }

  ol, ul {
    padding: 0;
    margin: 15px 0 0 15px;

    li {
      margin-bottom: 15px;

      &:last-child {
        margin: 0;
      }
    }
  }

  .wp-block-coliquio-image {
    margin-left: 0;
    margin-right: 0;
  }
}
