@import "../common/colors.css";
@import '../common/mediaq.scss';
@import '../common/icons';

article {
  .wp-block-coliquio-accordion-item {

    &[open] .accordion-item {
      &-summary {
        .arrow-icon {
          transform: rotate(0);
        }
      }
    }

    margin-bottom: 15px;
    border-radius: 0;
    background-color: transparent;
    border-left: none;
    border-right: none;
  
    .accordion-item-summary {
      &::-webkit-details-marker {
        display: none;
      }
      &:hover {
        background: #f2f2f2;
      }
  
      .summary-container {
        font-size: 22px;
        font-weight: 400;
        line-height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .summary-content {
          margin: 10px 0;
          max-width: 80%;
          padding: 5px 15px 5px 0;
          color: #2581c4;
          line-height: 1.2rem;
          font-weight: 400;
        }
      }
      .arrow-icon {
        @include arrow();
        transform: rotate(180deg);
        transition: transform 300ms ease-in-out;
        transform-origin: 13px;
        fill: #007AFF;
        width: 26px;
        height: 26px;
        margin-right: 10px;
      }
    }
  
    &::-webkit-details-marker {
      display: none;
    }
  
    sup {
      line-height: 0;
    }

    p {
      margin: 5px 0 5px;
  
      &:last-child {
        margin: 0;
      }
    }
  
    ol, ul {
      padding: 0;
      margin: 15px 0 0 15px;
  
      li {
        margin-bottom: 15px;
  
        &:last-child {
          margin: 0;
        }
      }
    }
    .accordion-item-content {
      padding-top: 15px;
    }
  } //.wp-block-coliquio-accordion-item END
  summary{
    outline: none;
  }
}





// editor styles

.accordion-item-component {
  border: 1px solid #999;
  padding: 15px 5px;
  .accordion-item-header {
    font-size: 18px;
  }
}
