@import "../common/colors.css";
@import '../common/mediaq.scss';

.wp-block-coliquio-accordion-item {
    font-family:"Source Sans Pro", sans-serif;
    &[open] .accordion-item {
        &-summary {
            &:before {
                transform: rotate(270deg);
            }
        }
    }

    .accordion-item {
        &-summary {
            font-size: 1rem;
            line-height: 1.75rem;
            cursor: pointer;
            display: block;
            font-weight: 400;
            color: var(--blue-base);
            user-select: none;
            padding-left: 0.9375rem;
            list-style: none;

            @include md {
                font-size: 1.5rem;
            }

            &::-webkit-details-marker {
                display: none;
            }
            &:before {
                content:"\A";
                border-style: solid;
                border-width: 5px 4px 5px 0;
                border-color: transparent var(--black-lighten-20) transparent transparent;
                position: absolute;
                transform: rotate(180deg);
                line-height: 2.75rem;
                margin-top: .455rem;
                @include md {
                    font-size: 1rem;
                }
             }
             .summary-content {
                 margin-left: 0.9375rem;
             }
             sup {
                line-height: 0;
            }
        }
        &-content {
            padding: .625rem;
            margin-left: 1.25rem;
            color: var(--black-base);
            font-size: 1rem;
            line-height: 1.2rem;
            font-weight: 400;
            margin-bottom: 1rem;
            @include md {
                font-size: 1.125rem;
                line-height: 1.5625rem;
            }
        }
    }
    .wp-block-coliquio-image  {
        figcaption {
            color: var(--black-lighten-40);
            display: block;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.3rem;
        }
    }
    p {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .wp-block-coliquio-image {
        margin-left: 0;
        margin-right: 0;
    }
}
