section.wp-block-coliquio-media-text {
    display: flex;
    width: 100%;
    flex-direction: row;

    .block-editor-inner-blocks {
        width: 100%;
        .block-editor-block-list__layout {
            display: flex;
            flex-direction: row;
        }
    }

    .wp-block-group {
        display: flex;
        flex: 50%;
    }
}

.media-rich-text {
    border: 1px solid red;
}
